include pyproject.toml
include README.md
include LICENSE.txt
include setup.py
include python/aapy.pyx
recursive-include include *.h
recursive-include src *.c
recursive-include tests *.py *.c *.h *.sh
